<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
        <div><a class="navbar-brand">O' Cuccultura</a></div>

        <ul class="navbar-nav">

            <li><a class="nav-link" routerLink="/shop"><fa-icon [icon]="iconaHome" class="white"></fa-icon>
                    Shop</a>
            </li>

            <li ngbDropdown class="nav-item dropdown" *ngIf="['Admin', 'Seller'].includes(authService.role)">
                <a ngbDropdownToggle class="nav-link" id="navbarDropdown" role="button" aria-haspopup="true"
                    aria-expanded="false"><fa-icon [icon]="iconaSecurity" class="white"></fa-icon>
                    {{authService.role}}
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown" style="background-color: #0dcaf0;">
                    <a routerLink="/admin/users" class="dropdown-item" *ngIf="authService.role == 'Admin'"><fa-icon
                            [icon]="iconaUsers" class="black"></fa-icon> Users</a>
                    <a routerLink="/{{authService.role.toLowerCase()}}/books" class="dropdown-item"
                        *ngIf="['Admin', 'Seller'].includes(authService.role)"><fa-icon [icon]="iconaBooks"
                        class="black"></fa-icon> Books</a>
                </div>
            </li>

            <li *ngIf="authService.role == '' ">
                <a class="nav-link" [routerLink]="isLogin ? '/login' : '/register'">
                    <fa-icon [icon]="iconaProfiles" class="white"></fa-icon>
                    {{ isLogin ? 'Login' : 'Register' }}
                </a>
            </li>

            <!--
            <li>
                <a class="nav-link" *ngIf="['Order'].includes(authService.role)" routerLink="/inbox"><fa-icon [icon]="iconaInbox"
                    class="white"></fa-icon> Inbox</a>
            </li>
        -->


        <li ngbDropdown class="nav-item dropdown" *ngIf="['Order'].includes(authService.role)">

            <a ngbDropdownToggle class="nav-link" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <fa-icon [icon]="iconaInbox" class="white"></fa-icon>Inbox
            </a>

            <div ngbDropdownMenu aria-labelledby="navbarDropdown" style="background-color: #0dcaf0;">

                <a routerLink="/inbox" class="dropdown-item" *ngIf="['Order'].includes(authService.role)">
                    <fa-icon [icon]="iconaStateWorking" class="black"></fa-icon> Orders:<span style="color: darkgreen;"> Working</span>
                </a>

                <a routerLink="/inboxD" class="dropdown-item"
                *ngIf="['Order'].includes(authService.role)">
                <fa-icon [icon]="iconaStateDeleted" class="black"></fa-icon> Orders:<span style="color: rgb(137, 0, 0);"> Canceled</span>
                </a>

            </div>

        </li>







            <li *ngIf="['Admin','User','Seller','Order'].includes(authService.role)">
                <a class="nav-link" (click)="authService.logout()" routerLink="/shop"><fa-icon [icon]="iconaProfiles"
                    class="white"></fa-icon> Logout</a>
            </li>

        </ul>

        <ul class="navbar-nav profile">
            <li ngbDropdown class="nav-item dropdown" *ngIf="['Admin','User','Seller','Order'].includes(authService.role)">
                <a ngbDropdownToggle class="nav-link" id="ordersDropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">

                    <div class="center">

                        <fa-icon [icon]="iconaProfile"
                            class="white"></fa-icon> Profile
                            
                    </div>

                    <span>Welcome
                        <span class="yellow"> {{ userName }}</span>
                    </span>

                </a>

                <div ngbDropdownMenu aria-labelledby="ordersDropdown" style="background-color: #0dcaf0; margin-top: -5px;">
                    <a routerLink="/order" class="dropdown-item"><fa-icon [icon]="iconaView"
                        class="black"></fa-icon> My orders</a>
                    <a routerLink="/communication" class="dropdown-item"><fa-icon [icon]="iconaCommunication"
                        class="black"></fa-icon> My Communications</a>
                </div>
            </li>
        </ul>

    </nav>
</header>