<div class="customImg">
<div class="align">
  <h1 class="size">Accept Orders</h1>
</div>

<div *ngIf="allOrders > 0" class="custom">

  <div *ngFor="let order of orders | paginate: {itemsPerPage: size, currentPage: page, totalItems: allOrders}; let i = index">

<!--   {{order.edit && order.editFrom == auth.uid}}
  {{order.editFrom}} -->
  <details [open]="order.edit && order.editFrom == auth.uid" *ngIf="order.user.id != auth.uid" (click)="changeEditStatus(order, $event); false">

    
    <!-- [open]="orders[order.id]?.opened" -->
    <summary>

      <b><span style="color: rgb(102, 0, 255);">#{{order.id}}</span> {{order.createdAt | date:  'dd/MM/yyyy'}} <span style="color: brown;">{{order.createdAt | date:  'HH:mm:ss':'GMT'}}</span> - (State: <span style="color: brown;">{{order.state}}</span>)</b>
      <input class="deleteBtn" type="button" (click)="updateOrderState(order)" value="Update order state" />

    </summary>

    <div class="table-responsive" *ngIf="order.state=='Working'">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ele of ordersDetails[order.id]?.orders">
            <td>
              <div style="position: relative;">
                <div style="position: relative; display: inline-block;">
                  <img src="data:image/jpeg;base64,{{ele.book.picByte}}" />
                  <label class="bookName">{{ele.book.name}}</label>
                  
                </div>
              </div>
            </td>
            <td>{{ele.book.author}}</td>
            <td>{{ele.quantity}}</td>
            <td>{{ele.book.price | currency:'USD'}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total: {{ ordersDetails[order.id]?.total | currency:'USD' }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </details>


</div>

</div>

<div class="custom-margin d-flex justify-content-center" *ngIf="allOrders > 0">
  <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
</div>

<div class="custom-margin">
  <p *ngIf='msg' [innerHTML]="msg" class="paragraph"></p>
  <p *ngIf='ok' [innerHTML]="ok" class="success"></p>
</div>
</div>
