<div class="bookDetails">

    <button type="button" class="close" aria-label="Close" (click)="closeFunction()">
        <span aria-hidden="true">&times;</span>
    </button>

    <div style="text-align: center;">
        <h1>Book Details</h1>
    </div>



    <table>
        <tr>
            <td>Book Id</td>
            <td>{{book.id}}</td>
        </tr>
        <tr>
            <td>Book Name</td>
            <td>{{book.name}}</td>
        </tr>
        <tr>
            <td>Book Author</td>
            <td>{{book.author}}</td>
        </tr>
        <tr>
            <td>Book Price</td>
            <td>{{book.price | currency:'USD'}}</td>
        </tr>
    </table>

    <br>

    <div style="text-align: center;">
        <img src="{{book.retrievedImage}}" height="380" width="280">
    </div>

    <br>
    <br>

    <div style="text-align: center; margin-top: -30px;">
        <a class="btn btn-small btn-warning" (click)="editBook()">Edit</a>
        <a style="margin-left: 30px;" class="btn btn-small btn-danger" (click)="deleteBook()" *ngIf="auth.role=='Admin'">Delete</a>
    </div>

    <p *ngIf='msg' [innerHTML]="msg" class="paragraph"></p>

</div>