.custom-margin {
  margin-top: 30px;
}

.custom-dropdown-container {
  width: 500px;
}

.offset-md-8 {
  margin-top: 30px;
  margin-left: 30%;
}

.paddingM {
  margin-left: 40px;
}

.paddingM2 {
  margin-left: 15px;
}

.m {
  background-color: rgb(238, 231, 231);
}

.paragraph {
  margin-top: 2rem;
  color: rgb(255, 0, 0);
  font-size: 15px;
  text-align: center;
}

.card {
  overflow: hidden;
}

.caret {
  color: blue;
}


.btnnn {
  width: 115px!important;
}








/*.special-heading {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.special-heading h2 {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.special-heading a.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.special-heading a.btn:hover {
  background-color: #0056b3;
}
*/
@keyframes border-flash {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: transparent;
  }
}

.special-heading {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: border-flash 2s infinite; 
  position: relative; 
  border: 2px solid transparent; 
  width: 30%;
  height: 25%;
  margin-left: 87%;

  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */

  margin: auto;
  margin-top: 30px;

}




.special-heading h2 {
  font-size: 15px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.special-heading a.btn {
  background-image: linear-gradient(to right, rgb(0, 72, 255), rgb(0, 247, 255));
  color: #fff;
  padding: 5px 15px; /* Modifica i valori qui per regolare le dimensioni */
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  color: #333;
  

}

.special-heading a.btn:hover {
  background-color: #0056b3;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 10px!important;
}










/*nuovo css*/
/*
.gridContainer
{
  display: grid;
  grid-template: "a0 a1 a2 a3 a4"
                 "a5 a6 a7 a8 a9"
                 "pa pa pa pa pa";

  grid-template-columns: repeat(5, minmax(120px, 1fr));
  grid-template-rows: 1fr 1fr 20px;
  gap: 5px;
  max-width: 100%;
}


@media only screen and (max-width: 600px) {
  .gridContainer
  {
    display: grid;
    grid-template: "a0 a1 a2 a3"
                   "a4 a5 a6 a7"
                   "a8 a9 .  . "
                   "pa pa pa pa";

    grid-template-columns: repeat(4, minmax(80px, 1fr));
  }
}
*/


