
<div class="container row">

    <div class="col-md-2" *ngIf="allBooks > 0">
        <h1>Books</h1>
    </div>

   
    
    <div class="col-md-10 custom-products-cart-container text-center">
        <div class="special-heading">

            <h2 class="text-center">Flash sale! <a class="btn btn-primary" href="/discountBooks">See youself!</a></h2>
             
         </div>
         
        <div class="">
      

            <ul class="nav navbar-nav navbar-right">

                <div class="col-md-12 custom-products-cart-container" style="text-align: center;">
                    <div style="margin-top: 10px">
                        <ul class="nav navbar-nav navbar-right">
                            <li *ngIf="cartBooks.length > 0" ngbDropdown class="dropdown">
                                <a ngbDropdownToggle class="btn btn-info btn-lg custom-dropdown-container" style="color: black;" role="button" aria-haspopup="true" aria-expanded="false"> <fa-icon [icon]="iconaCart" style="font-size: x-large;"></fa-icon>
                                    <span class="fa fa-shopping-cart"> 
                                        Books Added In Cart: 
                                    </span>
                                    <span class="caret">{{ cartBooks && cartBooks.length }}</span>
                                </a>
                                <ul ngbDropdownMenu role="menu" class="custom-dropdown-container m">
                                    <li *ngFor="let item of cartBooks">
                                        <div class="item product-cart-item row" style="padding: 30px; margin-top: -30px;">
                                           
                                            <div class="col-md-5" *ngIf="item">
                                                {{ item.name }}
                                            </div>

                                            <div class="col-md-2" *ngIf="item">
                                                <strong>${{ item.price }}</strong>
                                            </div>

                                            <input class="col-md-2" type="number" min="1"  style="height: 35px;" (change)="updateQuantity()" [(ngModel)]="item.q">
                                              
                                            <div class="col-md-3" *ngIf="item">
                                                <a *ngIf="cartBooks.length > 0" class="btn btn-small btn-outline-danger paddingM2" role="button" (click)="removeFromCart(item.id)">Remove</a>

                                            </div>

                                        </div>

                                    </li>

                                    <hr>

                                    <div style="text-align: center;" *ngIf="authService.role == '' || ['Admin','User','Seller','Order','Marketing'].includes(authService.role)">

                                        <!--{{authService.uid}}-->
                                        <a  *ngIf="cartBooks.length > 0" class="btn btn-small btn-secondary btnn" role="button" (click)="buyCart()">Buy</a>
                                    
                                        <a *ngIf="cartBooks.length > 0" class="btn btn-small btn-danger paddingM btnnn" role="button" (click)="emptyCart()">Empty Cart</a>

                                    </div>
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>


            </ul>
        </div>
    </div>
</div>





<div class="container row custom-margin" style="max-width: 100%; width: 100%">

    <ng-container *ngFor="let book of books | paginate: { itemsPerPage: size, currentPage: page, totalItems: allBooks}; let i=index">
        
        <div class="col-md-3">
    
    
            <div class="card card-block custom-margin">
                <div style="text-align: center; position: relative;">
                    <img class="custom-image-style custom-margin" img src="data:image/jpeg;base64,{{book.picByte}}"
                        height="463" width="300">
                    <label *ngIf="book.discount != null" class="off">{{book.discount.percentage}}% Off</label>
                </div>
                <div class="book-desc-container row">
                    <div>
                        <p *ngIf="book.discount == null" style="margin-left: 60px"><strong>{{book.name}}: ${{book.price}}</strong></p>
                        <p *ngIf="book.discount != null" style="margin-left: 60px"><strong>{{book.name}}: ${{(book.price/(1+(book.discount.percentage/100))) | number:'1.2-2'}} 💩💩💩 <s style="color: red">${{book.price}}</s></strong></p>

                        <p style="margin-left: 60px">{{book.author}}</p>
                    </div>
                    <div class="offset-md-4 col-md-4">
                        <button class="btn btn-primary btn-sm btnnn"
                            *ngIf="authService.role == '' || ['Admin','User','Seller','Order','Marketing'].includes(authService.role)"
                            (click)="addToCart(book.id)" [disabled]="book.isAdded===true"><fa-icon [icon]="iconaAdd"
                                style="color: rgb(255, 255, 255); font-size: large;"></fa-icon> Add To Cart</button>
                    </div>
    
                    <div style="margin-top: 20px;"></div>
    
                </div>
    
            </div>
        </div>

    </ng-container>

    <div class="custom-margin d-flex justify-content-center" *ngIf="allBooks > 0">
        <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
    </div>

    <p *ngIf='msg' [innerHTML]="msg" class="paragraph"></p>

</div>


