html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.paragraph {
    margin-top: 2rem;
    color: rgb(255, 0, 0);
    font-size: 18px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.success {
    margin-top: 2rem;
    color: green;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}



.off
{
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  padding: 10px;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: red;
  font-weight: bold;
  font-size: 30px;
}



@import "~@ng-select/ng-select/themes/default.theme.css";