details {
    background-color: #0dcaf0;
    padding: 5px;
    margin: 30px;
    margin-bottom: 0px;
    position: relative;
  }
  
  
  details table {
    margin-bottom: 0px;
  }
  
  summary {
    display: flow-root;
    padding: 5px;
  }
  
  img {
    width: 128px;
  }
  
  .bookName {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 100%;
  }
  
  .notAvailable {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
    color: red;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    font-size: 32px;
    transform: translateY(-50%);
    top: 50%;
  }
  
  
  .deleteBtn {
    all: unset;
    background: #f55e5e;
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px;
    float: right;
  }
  
  
  .editBtn {
    all: unset;
    background: #52f52e;
    border: 1px solid rgb(23, 117, 4);
    border-radius: 5px;
    padding: 2px;
    float: right;
  }
  
  
  th,
  td {
    text-align: center;
  }
  
  .paragraph {
    margin-top: 2rem;
    color: rgb(255, 0, 0);
    font-size: 15px;
    text-align: center;
  }
  
  .custom-margin {
    text-align: center;
    margin-top: 30px;
  }
  
  .align {
    margin-top: 10px !important;
    margin-left: 10px;
  }
  
  .size {
    font-size: 2rem;
  }
  
  .custom {
    margin-top: 50px !important;
  }
  
  .search {
    display: inline-block;
    margin-left: 50px;
  }
  
  .search>* {
    margin-left: 5px;
  }