<div class="customImg">

<div class="align">
  <h1 class="size">Deleted Orders</h1>
</div>

<div *ngIf="allOrders > 0" class="custom">

  <div *ngFor="let order of orders | paginate: {itemsPerPage: size, currentPage: page, totalItems: allOrders}; let i = index">

  <details>

    <summary>

        <b><span style="color: rgb(102, 0, 255);">#{{order.id}}</span> {{order.createdAt | date:  'dd/MM/yyyy'}} <span style="color: brown;">{{order.createdAt | date:  'HH:mm:ss':'GMT'}}</span> - (State: <span style="color: brown;">{{order.state}}</span>)</b>

       
          <b style="text-align: end;">
             - (Reason: 
            <span style="color: brown;">
              {{order.reason}}
          </span>)
        </b>

    </summary>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ele of ordersDetails[order.id]?.orders">
            <td>
              <div style="position: relative;">
                <div style="position: relative; display: inline-block;">
                  <img src="data:image/jpeg;base64,{{ele.book.picByte}}" />
                  <label class="bookName">{{ele.book.name}}</label>
                  
                </div>
              </div>
            </td>
            <td>{{ele.book.author}}</td>
            <td>{{ele.quantity}}</td>
            <td>{{ele.book.price | currency:'USD'}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><del style="color: brown;">Total: {{ ordersDetails[order.id]?.total | currency:'USD' }}</del></td>
          </tr>
        </tbody>
      </table>

    </div>




  <div style="text-align: center;">
    <b>
      Order cancelled by 
      <span style="color: brown;">
        {{order.user.email}}
    </span>
    (role:
      <span style="color: brown;">{{order.user.type}})</span>
  </b>
  </div>

  </details>


</div>

</div>

<div class="custom-margin d-flex justify-content-center" *ngIf="allOrders > 0">
  <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
</div>

<div class="custom-margin">
  <p *ngIf='msg' [innerHTML]="msg" class="paragraph"></p>
  <p *ngIf='ok' [innerHTML]="ok" class="success"></p>
</div>

</div>